@model StudentMG.ViewModels.LoginVM
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .full-screen-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background-color: #f8f9fa; /* Màu nền cho toàn màn hình */
    }

    .login-container {
        background-color: #fff;
        padding: 40px;
        margin: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 33.333%; /* Chiều rộng bằng 1/3 màn hình */
    }

    .form-item label {
        font-weight: bold;
        margin-bottom: 5px;
    }

    .form-item input[type="text"],
    .form-item input[type="password"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }

    .form-item button {
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 12px 20px;
        cursor: pointer;
        transition: background-color 0.3s;
        width: 100%;
    }

        .form-item button:hover {
            background-color: #0056b3;
        }
</style>

<div class="container-fluid full-screen-container">
    <div class="login-container">
        <h1 class="mb-4 text-center">Đăng nhập</h1>
        <form asp-action="Login">
            <div class="text-danger" asp-validation-summary="All"></div>
            <div class="form-item">
                <label asp-for="Username" class="form-label my-3"></label><sup>*</sup>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-item">
                <label asp-for="Password" class="form-label my-3"></label><sup>*</sup>
                <input asp-for="Password" class="form-control" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-item text-center pt-4">
                <button type="submit" class="btn border-secondary py-3 px-4 text-uppercase text-primary">Đăng nhập</button>
            </div>
        </form>
    </div>
</div>
