@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Lê Quang Lưu -21115053120126</h1>
    <p>Đề tài <a href="https://learn.microsoft.com/aspnet/core">Website quản lí sinh viên</a>.</p>
</div>
