
@{
    ViewData["Title"] = "Profile";
    ViewData["Fullname"] = @Context.User.Identity.Name;
    ViewData["Role"] = "Sinh viên";
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
}

<h1>Hi</h1>

